.text-titulo{
  padding:0px;
  position:relative;
  color: #E6281E;
  width:1200px;
  list-style-type:none;
  list-style-position:outside;
  margin:0px;
  text-align: center;
}

.text-titulo-modal{
  padding:0px;
  position:relative;
  color: #E6281E;
  width:800px;
  list-style-type:none;
  list-style-position:outside;
  margin:0px;
  text-align: center;
}
