.text-titulo{
  padding:0px;
  position:relative;
  color: #E6281E;
  width:1200px;
  list-style-type:none;
  list-style-position:outside;
  margin:0px;
  text-align: center;
}

.text-titulo-modal{
  padding:0px;
  position:relative;
  color: #E6281E;
  width:800px;
  list-style-type:none;
  list-style-position:outside;
  margin:0px;
  text-align: center;
}

.banner {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner.is-primary {
  background-color: #00d1b2;
  color: #fff;
}

.banner.is-primary a:not(.button):not(.dropdown-item):not(.tag),
.banner.is-primary strong {
  color: inherit;
}

.banner.is-primary .title {
  color: #fff;
}

.banner.is-primary .subtitle {
  color: rgba(255, 255, 255, 0.9);
}

.banner.is-primary .subtitle a:not(.button),
.banner.is-primary .subtitle strong {
  color: #fff;
}

@media screen and (max-width: 1087px) {
  .banner.is-primary .navbar-menu {
    background-color: #00d1b2;
  }
}

.banner.is-primary .navbar-item,
.banner.is-primary .navbar-link {
  color: rgba(255, 255, 255, 0.7);
}

.banner.is-primary a.navbar-item:hover, .banner.is-primary a.navbar-item.is-active,
.banner.is-primary .navbar-link:hover,
.banner.is-primary .navbar-link.is-active {
  background-color: #00b89c;
  color: #fff;
}

.banner.is-primary .tabs a {
  color: #fff;
  opacity: 0.9;
}

.banner.is-primary .tabs a:hover {
  opacity: 1;
}

.banner.is-primary .tabs li.is-active a {
  opacity: 1;
}

.banner.is-primary .tabs.is-boxed a, .banner.is-primary .tabs.is-toggle a {
  color: #fff;
}

.banner.is-primary .tabs.is-boxed a:hover, .banner.is-primary .tabs.is-toggle a:hover {
  background-color: rgba(10, 10, 10, 0.1);
}

.banner.is-primary .tabs.is-boxed li.is-active a, .banner.is-primary .tabs.is-boxed li.is-active a:hover, .banner.is-primary .tabs.is-toggle li.is-active a, .banner.is-primary .tabs.is-toggle li.is-active a:hover {
  background-color: #fff;
  border-color: #fff;
  color: #00d1b2;
}

.banner.is-primary.is-bold {
  background-image: linear-gradient(141deg, #009e6c 0%, #00d1b2 71%, #00e7eb 100%);
}

@media screen and (max-width: 768px) {
  .banner.is-primary.is-bold .navbar-menu {
    background-image: linear-gradient(141deg, #009e6c 0%, #00d1b2 71%, #00e7eb 100%);
  }
}
